In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.float_format', '{:,}'.format)

# Resumen

In [2]:
# Fondos a tener en Brubank, y Santander. Porque algunas se pagan de una, y otras se pagan de otra.

# Brubank
Edenor = 1400
Naturgy = 280
Telecentro = 4700
Personal = 1600

# Santander
Ichi = 1790
Netflix = 1050
Alquiler = 7000
Expensas = 5500

# A esto agregarle las veces que pagas con la tarjeta en Coto o pedis a pedidos ya y no tenés efectivo para pagarle en la puerta
# Tendrias que tener en cuenta el dia que compras en coto si querés tener efectivo y sacar para después pagarle :joy:

# Wallets y brokers
TODO: En un futuro voy a poner como diccionarios cosa que eco tenga dos valores, uno en pesos y uno en dólares, y binance tenga uno por cada moneda que tiene adentro

In [3]:
# Wallets
Efectivo = 2000 # ARS
Provincia = 4012.92 # ARS
Mercadopago = 5640
Santander = Ichi \
    + Netflix \
    + Alquiler \
    + Expensas

Uala = 0.00
Brubank = Edenor \
    + Naturgy \
    + Telecentro \
    + Personal

# Brokers
Ecovalores = 1764.50 # ARS
EcovaloresUSD = 89.16 # USD
InvertirOnline = 981.13 # ARS
InvertirOnlineUSD = 102.74 # USD
Binance = 0.0006187 # BTC
Trezor = 0.0000669 # BTC
Metamask = 84.15 # USD (tiene ETH y BNB)
Phantom = 15.04 # USD
Afluenta = 79.98
Ripio = 24.16 # ARS

print(Santander, Brubank)

15340 7980

# Tasas de cambios

In [4]:
# Tasas de cambios
ARS_USD = 212.69
ARS_EUR = (113*98)*ARS_USD  # Aprox
BTC_USD = 56474.17
BTC_ARS = 12011492.26


ARS_USD, ARS_EUR, BTC_USD, BTC_ARS

(212.69, 2355329.06, 56474.17, 12011492.26)

In [10]:

dict_de_fondos = {
                  'Efectivo':         [Efectivo,          15.44,                0], 
                  'Santander':        [Santander,         0.01,                 0], 
                  'Provincia':        [Provincia,         91.29,                0],  
                  'Mercadopago':      [Mercadopago,       0,                    0], 
                  'Brubank':          [Brubank,           0,                    0], 
                  'Uala':             [Uala,              0,                    0],
                  'Ecovalores':       [Ecovalores,        EcovaloresUSD,        0],
                  'InvertirOnline':   [InvertirOnline,    InvertirOnlineUSD,    0],
                  'Binance':          [0,                 0,                     Binance],
                  'Trezor':           [0,                 0,                     Trezor],
                  'Metamask':         [0,                 Metamask,             0],
                  'Phantom':          [0,                 Phantom,              0],
                  'Alfuenta':         [Afluenta,          0,                    0], 
                  'Ripio':            [Ripio,             2.23,                 0]
                  }

monedas = ['ARS', 'USD', 'BTC']

resumen = pd.DataFrame()
resumen = resumen.from_dict(dict_de_fondos, 
                            columns=monedas,
                            orient='index')

In [11]:
# TODO: mejor formato para la tabla

resumen['ARS_eq'] = (resumen['ARS'] + \
                    resumen['USD'] * ARS_USD + \
                    resumen['BTC'] * BTC_ARS).round(2)


resumen['USD_eq'] = (resumen['ARS_eq'] / ARS_USD).round(2)

resumen['BTC_eq'] = (resumen['ARS_eq'] / BTC_ARS).round(8)

# Columna Percentage es para saber %s
resumen['percentage'] = (resumen['ARS_eq'] / resumen['ARS_eq'].sum() * 100).round(2)

In [34]:
custom_styles = [
  dict(selector='tr:hover', props=[('background-color', '#f00fb3')]),
  
  dict(selector='th', props=[('background', 'rgb(61,164,166)'),
                             ('padding', '10px 40px'),
                             ('font-size', '120%'),
                             ('text-align', 'left')]),
  
  dict(selector="caption", props=[("caption-side", "top"),
                                  ('font-size', '150%'),
                                  ('text-align', 'center')]),

  dict(selector='tr:hover', props=[('background-color', '#f00fb3')]),
            ]


formato_de_moneda = {
                     ('ARS'): lambda x: "$ {:,.2f}".format(x),
                     ('USD'): lambda x: "$ {:,.2f}".format(x),
                     ('BTC'): lambda x: "{:,.4f}".format(x),

                     ('ARS_eq'): lambda x: "$ {:,.2f}".format(x),
                     ('USD_eq'): lambda x: "$ {:,.2f}".format(x),
                     ('BTC_eq'): lambda x: "{:,.3f}".format(x),
                     ('percentage'): lambda x: "{:.1f} %".format(x)
                     }

resumen.style.set_table_styles(custom_styles).set_caption('Tabla resumen').format(formatter=formato_de_moneda).bar('percentage')

In [35]:
resumen.loc['Trezor']

ARS               0.0
USD               0.0
BTC          6.69e-05
ARS_eq         803.57
USD_eq           3.78
BTC_eq       6.69e-05
percentage       0.61
Name: Trezor, dtype: float64

In [36]:
# creo un df con el Dolar CCL
dolarccl = pd.read_csv('data/CCL.csv')
dolarccl['Date'] = pd.to_datetime(dolarccl['Date'])
dolarccl.set_index(dolarccl['Date'], inplace=True)
dolarccl.drop(columns='Date', inplace=True)
dolarccl

                          CCL
Date
2018-03-19 20.417774950231795
2018-03-20 20.610204252762568
2018-03-21  20.56039949381116
2018-03-22 20.415675231934884
2018-03-23 20.408572603308954
...                       ...
2022-03-13   193.392504402279
2022-03-14  188.5584693681158
2022-03-15  188.8217464628576
2022-03-16  188.8217464628576
2022-03-17 194.96611363403463

[1460 rows x 1 columns]

In [37]:
# Leo el CSV
exchanges = pd.read_csv('exchanges.csv', index_col=0)
# Paso los object a datetime64
exchanges['Fecha'] = pd.to_datetime(exchanges['Fecha'], dayfirst=True)

# Agrego la columna Dolares
exchanges['Dolares'] = 0.0

exchanges

      Tipo                      Cuenta  Monto      Fecha  Dolar  Dolares
0  Ingreso                    Afluenta   5000 2018-07-27  27.69      0.0
1  Ingreso          Bullmarket Brokers   3500 2018-08-10  29.82      0.0
2  Ingreso  Bullmarket Brokers Dolares   1150 2018-08-10    NaN      0.0

In [38]:
operacion = 1
columna = 'Fecha'
asd = exchanges.at[operacion, columna]
dolarccl.loc[asd]

CCL   29.567896867217343
Name: 2018-08-10 00:00:00, dtype: float64

In [39]:
for operacion in exchanges.index:
    columna = 'Fecha'

    # Busco el CCL de la tabla dolarccl, de acuerdo a la fecha
    ccl_operacion = dolarccl.loc[exchanges.at[operacion, columna]]

    exchanges.at[operacion, 'Dolar'] = ccl_operacion

# Poner los dolares CCL en Dolar

# Calculo los dolares
exchanges['Dolares'] = (exchanges['Monto'] / exchanges['Dolar']).round(2)
exchanges

,Tipo,Cuenta,Monto,Fecha,Dolar,Dolares
0,Ingreso,Afluenta,5000,2018-07-27,27.69834090738528,180.52
1,Ingreso,Bullmarket Brokers,3500,2018-08-10,29.567896867217343,118.37
2,Ingreso,Bullmarket Brokers Dolares,1150,2018-08-10,29.567896867217343,38.89

In [40]:
dolarccl.loc['2019-06-28']

CCL   43.12437647332381
Name: 2019-06-28 00:00:00, dtype: float64