In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
from datetime import date

años = 4

ccl = pd.DataFrame()
adr = yf.download("GGAL", period= str(años)+'Y' , interval='1d')['Adj Close']
local = yf.download("GGAL.BA", period=str(años)+'Y' , interval='1d')['Adj Close']
ccl = (10 * local / adr).to_frame()

ccl.columns = ['CCL']

# Contar cuantos NA hay
ccl.isna().sum()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

CCL    82
dtype: int64

In [2]:
# creo una lista con todos los días de la semana 
fechas_con_fines_de_semana = pd.date_range(ccl.first_valid_index(), date.today())
fechas_con_fines_de_semana

DatetimeIndex(['2018-03-19', '2018-03-20', '2018-03-21', '2018-03-22',
               '2018-03-23', '2018-03-24', '2018-03-25', '2018-03-26',
               '2018-03-27', '2018-03-28',
               ...
               '2022-03-08', '2022-03-09', '2022-03-10', '2022-03-11',
               '2022-03-12', '2022-03-13', '2022-03-14', '2022-03-15',
               '2022-03-16', '2022-03-17'],
              dtype='datetime64[ns]', length=1460, freq='D')

In [3]:
# reindexo el CCL para que tenga todos los días de la semana y los relleno con NaN
ccl = ccl.reindex(fechas_con_fines_de_semana, fill_value=np.nan)
ccl.index.name = 'Date'
ccl[0:15]

                  CCL
Date
2018-03-19  20.417775
2018-03-20  20.610204
2018-03-21  20.560399
2018-03-22  20.415675
2018-03-23  20.408573
2018-03-24        NaN
2018-03-25        NaN
2018-03-26  20.338800
2018-03-27  20.321700
2018-03-28  20.364185
2018-03-29        NaN
2018-03-30        NaN
2018-03-31        NaN
2018-04-01        NaN
2018-04-02        NaN

In [4]:
# Relleno con foward fill
ccl = ccl.fillna(method='ffill')
ccl[0:15]

                  CCL
Date
2018-03-19  20.417775
2018-03-20  20.610204
2018-03-21  20.560399
2018-03-22  20.415675
2018-03-23  20.408573
2018-03-24  20.408573
2018-03-25  20.408573
2018-03-26  20.338800
2018-03-27  20.321700
2018-03-28  20.364185
2018-03-29  20.364185
2018-03-30  20.364185
2018-03-31  20.364185
2018-04-01  20.364185
2018-04-02  20.364185

In [5]:
# Exporto los valores a un CSV
ccl.to_csv('CCL.csv')